/* Hacks required to make user bar items be minibuttons */
#user a {
    color: #222;
}

#fixhub-userbox {
    float: right;
    line-height: 20px;
    padding: 7px 0;
}

#fixhub-userbox a {
    line-height: 16px;
}

#user-links {
    background: inherit !important;
    border: inherit !important;
    box-shadow: inherit !important;
}

/* Fix position of the unread notifications count */
#user-links .unread_count {
    left: inherit !important;
}

/* Fix position of public/private/fork mega icon on repo page */
.mega-icon:before {
    font-size: inherit !important;
}

.pagehead.repohead h1 .mega-icon-private-repo,
.pagehead.repohead h1 .mega-icon-public-repo,
.pagehead.repohead h1 .mega-icon-repo-forked {
    left: 10px !important;
    top: 10px !important;
}

/* Remove icons from several buttons */
.minibutton.btn-admin:before,
.minibutton.btn-follow:before,
.minibutton.btn-unfollow:before,
.minibutton.btn-watch:before,
.minibutton.btn-unwatch:before,
.minibutton.btn-download:before,
.minibutton.btn-pull-request:before,
.minibutton.btn-fork:before,
.minibutton.btn-leave:before,
.minibutton.btn-compare:before,
.minibutton.btn-reply:before,
.minibutton.btn-back:before,
.minibutton.btn-forward:before,
.minibutton.btn-windows:before,
.minibutton.btn-mac:before,
.minibutton.btn-exclamation:before {
    content: none !important;
}
